{% extends 'shop/base.html' %}
{% load my_tags %}

{% block title %}
Add to Cart
{% endblock title %}

{% block content %}
<h1>Your Carts</h1>
<div class="cart_container">
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Rate</th>
                <th>Total Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
    {% for cart in carts %}
    <tbody>
        <tr>
            <td class="td-image">
                <div class="eachcarts-image">
                    <img src="{{cart.product.image.url}}" alt="">
    
                </div>
                </td>
                <td>{{cart.product.title}}</td>
                <td>{{cart.rate}}</td>
                <td>{{cart.sub_total}}</td>
                <td>
                    <div class="increase-decrease">
                        <button class="decrease" onclick="decreasebtn('{{cart.id}}')">-</button>
                        <div class="quantiy-p">
                            <p id="quantity-number"+{{cart.id}}></p>
                        </div>
                        <button class="increase" onclick="increasebtn('{{cart.id}}')">+</button>
                        </div>
                        </td>
                        </tr>
                        <!-- Add more rows if needed -->
                        </tbody>
                        
                        <script>
                                {% comment %} var row_data = "{{cart.quantity}}";
                                if(row_data>=1){
                                }
                                else{
                                    row_data=0                                
                                }
                                var quantity_value = 0
                                document.getElementById("quantity-number").innerText = row_data {% endcomment %}
                            </script>
        
            {% endfor %}
</table>

<script type="text/javascript">

   
</script>
<script>
   
    
    
    const increasebtn=(id)=>{
    console.log(id)
}

const decreasebtn=(id)=>{
    console.log(id)
}

</script>

</div>

{{carts|first_item}}
<a href="{% url 'shopapp:cardid' carts|card_Iid %}">CheckOut</a>
<script>
    function increment(value) {
        let newvalue = value.toString();


        console.log(value)
        let quantity = document.getElementById("quantity" + newvalue);
        console.log(quantity)

        // console.log(quantity)

    }
</script>
{% endblock content %}