{% extends 'shop/base.html' %} {% block title %} Category views {% endblock title %}
{% load my_tags %}

{% block content%}
{% for category in category %}
<div class="row" style="border: 2px solid red;">
    <h4> {{category.title}}
    </h4>
    
    <div class="products-show">

    {% for eachproduct in category.product_set.all|return5items %}
        <div class="eachproducts">
            <div class="imageofproduct">
                <img src="{{eachproduct.image.url}}" alt="img">
            </div>
            <br><br>
            <div class="product-title">
                <a href=" {% url 'shopapp:productdetails' eachproduct.slug %} ">{{eachproduct.title}}</a>
            </div>
            <p class="real-price">Rs. {{eachproduct.selling_price}}</p>
            <p class="strick-price"> <strike>Rs: {{ eachproduct.marked_price }}</strike></p>
            <br>
            <a href={% url 'shopapp:addtocart' eachproduct.id %} class="addtocart">Add to cart</a>
        </div>

    {% endfor %}
    <button>See All <button>
</div>

</div>
{% endfor %}

{% endblock content%}